fastapi
uvicorn[standard]

sqlalchemy
asyncpg
alembic

pydantic
pydantic-settings
email-validator

python-jose[cryptography]
PyJWT

passlib[bcrypt]
bcrypt

redis

python-multipart

pytest
pytest-asyncio
httpx

black
ruff